<ul id="movies-list">
  <% @movies.each do |movie| %>
    <li id="movie<%=movie.id%>"><a href="/movies/<%=movie.id%>"> <span id="movie-title<%=movie.id%>"><%=movie.title%></span> </a> - Global Rating: <%=movie.average%><a id="delete-movie" href="/movies/<%=movie.id%>"> Delete </a><a id="update-movie" href="/movies/<%=movie.id%>/edit"> Edit </a></li>
  <% end %>
</ul>